@section Header {
    @await Component.InvokeAsync("NavigationMenu")
}

@section Breadcrumb {
    @await Component.InvokeAsync("Breadcrumb", @ViewBag.displayName)
}

<section>
    <h4>@ViewData["displayName"]</h4>
    <p>TEL: @ViewData["tel"]</p>
    <p>FAX: @ViewData["fax"]</p>
    <p>E-Mail: @ViewData["email"]</p>
</section>
